:root {
  --translate-y: 350px;
}
.base-animation {
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 0s, 1s;
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  animation-fill-mode: forwards;
}
.to-side-1 {
  animation: turn, to-side-1;
  @apply base-animation;
}
.to-side-2 {
  animation: turn, to-side-2;
  @apply base-animation;
}
.to-side-3 {
  animation: turn, to-side-3;
  @apply base-animation;
}
.to-side-4 {
  animation: turn, to-side-4;
  @apply base-animation;
}
.to-side-5 {
  animation: turn, to-side-5;
  @apply base-animation;
}
.to-side-6 {
  animation: turn, to-side-6;
  @apply base-animation;
}
.to-side-7 {
  animation: turn, to-side-7;
  @apply base-animation;
}
.back-to-top {
  animation: back-to-top;
  @apply base-animation;
}

@keyframes turn {
  to {
    transform: translateY(var(--translate-y)) rotateY(1200deg) rotateX(20deg);
  }
}
@keyframes to-side-1 {
  to {
    transform: translateY(var(--translate-y)) rotateY(-180deg) rotateX(-90deg);
  }
}
@keyframes to-side-2 {
  to {
    transform: translateY(var(--translate-y)) rotateY(-110deg) rotateX(-90deg);
  }
}
@keyframes to-side-3 {
  to {
    transform: translateY(var(--translate-y)) rotateY(-35deg) rotateX(-90deg);
  }
}
@keyframes to-side-4 {
  to {
    transform: translateY(var(--translate-y)) rotateY(40deg) rotateX(-90deg);
  }
}
@keyframes to-side-5 {
  to {
    transform: translateY(var(--translate-y)) rotateY(110deg) rotateX(-90deg);
  }
}
@keyframes to-side-6 {
  to {
    transform: translateY(var(--translate-y)) rotateY(0deg);
  }
}
@keyframes to-side-7 {
  to {
    transform: translateY(var(--translate-y)) rotateY(180deg);
  }
}
@keyframes back-to-top {
  from {
    transform: translateY(var(--translate-y)) rotateY(180deg);
  }
  to {
    transform: translateY(0deg) rotateY(0deg);
  }
}
