@font-face {
  font-family: Monomakh;
  src: url("./Monomakh-Regular.ttf"), format(truetype);
}
body {
  font-family: Monomakh;
}

.floor {
  background: rgb(224, 242, 254);
  background: radial-gradient(circle, rgba(224, 242, 254, 1) 0%, rgba(2, 6, 23, 1) 100%);
  transform: rotateX(75deg) rotate(45deg) translateZ(-20px);
}
